{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}


	<div>
		<h1>Hello
			{{ controller_name }}! ✅</h1>

		This friendly message is coming from:
		<ul>
			<li>Your controller at
				<code>C:/Users/win-10/Desktop/Anass/DevFULLStack practice/practice/5symfony/ProjetRouge/src/Controller/HomeController.php</code>
			</li>
			<li>Your template at
				<code>C:/Users/win-10/Desktop/Anass/DevFULLStack practice/practice/5symfony/ProjetRouge/templates/home/index.html.twig</code>
			</li>
		</ul>

	</div>
{% endblock %}
