.form-group {
    padding: 2rem;
    margin: 15rem auto;
    max-width: 60%;


}

.legendForm {
    font-size: 2rem;
    font-weight: bold;
    display: block;
    margin: 0 auto 10px auto;
    color: var(--Primary)
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--Dark);

}

.form-group input {
    padding: 8px;
    font-size: 1rem;
    width: 100%;
}

.form-group select {
    padding: 8px;
    font-size: 1rem;
    width: 100%;
}