.dishes-list {
    margin: 2rem auto;
    background-color: var(--Primary);
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 50%;
    font-family: var(--Text);
}


.dish-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid var(--Secondary);
    border-radius: 6px;
    background-color: var(--Secondary);
    color: var(--BgDark);
}


.dishes-list a {
    color: var(--BgDark);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;

}

.dish-name {
    font-size: 1.2rem;
    font-weight: bold;
}