.dishes-list {
    margin: 2rem auto;
    background-color: var(--Primary);
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 50%;
    font-family: var(--Text);
}


.dish-item {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid var(--Secondary);
    border-radius: 6px;
    background-color: var(--Secondary);
    color: var(--BgDark);
}


.dishes-list a {
    color: var(--BgDark);
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;

}

.dish-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.filter-container {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 30px;
    justify-content: center;
    margin-top: 20px;
    /* Centre les boutons */
}

.filter-link {

    text-decoration: none;
    color: #333;
    background-color: var(--Secondary);
    padding: 8px 20px;
    border-radius: 50px;
    /* Effet arrondi "pills" */
    font-weight: 500;
    transition: all 0.3s ease;
    border: 2px solid transparent;
}

/* Effet au survol */
.filter-link:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
    /* Petit saut vers le haut */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Classe pour le bouton actif (si tu l'ajoutes en Twig) */
.filter-link.active {
    background-color: #2c3e50;
    /* Couleur sombre pro */
    color: white;
    border-color: #34495e;
}

.dish-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    vertical-align: middle;
    margin-bottom: 10px;
}