header {
    display: flex;
    justify-content: space-between;
}
header nav ul {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;
    
    

}
header img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}
