* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Couleurs */
  --Primary: #906427;
  --Secondary: #B6AC97;
  --Dark: #392c1e;
  --BgDark: #292222;
  /* Typo */
  --Headline: "Kelly Slab", 'consolas', cursive;
  --Text: 'Montserrat', sans-serif;
  --ColorText: #FFFFFF
}


.btn,
button {
  display: inline-block;
  /* INDISPENSABLE pour que le lien réagisse comme un bouton */
  background-color: var(--Primary);
  color: var(--ColorText);
  padding: 0.1rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  margin: 1rem;
  text-decoration: none;
  /* Enlève le trait sous le lien */
  border: none;
  /* Enlève la bordure par défaut des boutons */
  font-family: inherit;
  /* Pour que le bouton utilise la même police que le reste */
}

/* Le hover pour les deux */
.btn:hover,
button:hover {
  background-color: var(--Dark);
  color: var(--ColorText);
}

h1,
h2 {
  font-weight: 400;
  text-align: center;
  font-family: var(--Headline);

}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.3rem;
  color: var(--Primary);
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  padding: 1rem;
  font-size: 1.2rem;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}

.alert-error {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 1rem;
  font-size: 1.2rem;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center;
}

.logo {
  font-family: var(--Headline);
  font-size: 1.5rem;
  color: aliceblue;
  text-decoration: none;
  padding: 0.7rem;
}

header nav ul li a {
  color: aliceblue;
  text-decoration: none;
}

/* Specific styles for making body take all the space*/
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* hauteur = toute la fenêtre */
}

main {
  flex: 1;
  /* prend tout l’espace restant */
}