<footer>
	<section>
		<p class="headerFooter">Adresse</p>
		<p>99 avenue de la rue ville 99000</p>
		<p>099999999999</p>
	</section>
	<section>
		<p class="headerFooter">Nos Horaires</p>
		<p>Mardi-Dimanche 12:00-14:00 18h00:23h:00</p>
	</section>
	<section>
		<p class="headerFooter">Contact</p>
		<p>QaiAntique@domain.domain</p>
	</section>
</footer>
