<header>
	<img src="{{asset('/images/logo.avif')}}" alt="image logo">
	<nav>
		<ul>
			<li>Accueil</li>
			<li>contact</li>
			<li>connexion</li>
			<li>reserver</li>
		</ul>
	</nav>
</header>
