header {
  display: flex;
  justify-content: space-between;
  background-color: var(--Primary);
  align-items: center;
  padding: 5px;
  font-family: var(--Headline);
  font-family: 'Times New Roman', Times, serif;
  color: aliceblue;
  font-size: 1.2rem;

}

header nav ul {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  list-style: none;

}

footer {
  background-color: var(--Primary);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  text-align: center;

}

.headerFooter {
  font-size: 1.5rem;
  font-style: italic;
}